
  <div class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="our-team">
                    <div class="team-img">
                        <img [src]="teacherInput.img" alt="" style="width: 300px; height: 300px;">
                    </div>
                    <div class="team-content" style="width: 300px; height: 100px;">
                        <h3 class="title">Teacher:{{teacherInput.firstName}} {{teacherInput.lastName}}</h3>
                        <h3 class="post">Speciality: {{teacherInput.speciality}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>