<div class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12" style="margin-left: 50px;">
                <div class="our-team">
                    <div class="team-img">
                        <img [src]="courseInput.img" alt="" style="width: 300px; height: 300px;">
                    </div>
                    <div >
                    <h4>Course:{{courseInput.name}}</h4>
                
                    <h4>Description:{{courseInput.description}}</h4>
                    <h4>Duration:{{courseInput.duration}}</h4>
                    </div>
                    <!-- <div class="team-content">
                        <h3 class="title">{{courseInput.name}}</h3>
                        <h3 class="title">description: {{courseInput.description}}</h3>
                        <h3 class="post">duration: {{courseInput.duration}}</h3>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
